In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv(r"C:\Users\GRZEGORZ\Downloads\GermanCredit.csv")
df.sample(5)

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
242,... < 100 DM,48,no credits taken/all credits paid back duly,car (used),4605,... < 100 DM,... >= 7 years,3,male : single,none,...,unknown/no property,24,none,for free,2,skilled employee/official,2,no,yes,0
552,... < 100 DM,48,existing credits paid back duly till now,domestic appliances,6999,... < 100 DM,4 <= ... < 7 years,1,male : married/widowed,guarantor,...,real estate,34,none,own,2,skilled employee/official,1,yes,yes,0
748,no checking account,21,existing credits paid back duly till now,car (used),5248,unknown/no savings account,1 <= ... < 4 years,1,male : single,none,...,car or other,26,none,own,1,skilled employee/official,1,no,yes,1
811,0 <= ... < 200 DM,6,existing credits paid back duly till now,domestic appliances,484,... < 100 DM,4 <= ... < 7 years,3,male : married/widowed,guarantor,...,real estate,28,bank,own,1,unskilled - resident,1,no,yes,1
764,no checking account,24,critical account/other credits existing,car (new),2463,100 <= ... < 500 DM,4 <= ... < 7 years,4,male : married/widowed,none,...,building society savings agreement/life insurance,27,none,own,2,skilled employee/official,1,yes,yes,1

<br>

### Data cleaning

In [36]:
df.head()

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,... < 100 DM,6,critical account/other credits existing,domestic appliances,1169,unknown/no savings account,... >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee/official,1,yes,yes,1
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee/official,1,no,yes,0
2,no checking account,12,critical account/other credits existing,retraining,2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,no,yes,1
3,... < 100 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,guarantor,...,building society savings agreement/life insurance,45,none,for free,1,skilled employee/official,2,no,yes,1
4,... < 100 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,none,...,unknown/no property,53,none,for free,2,skilled employee/official,2,no,yes,0

##### 'personal_status_sex' column

In [37]:
df['personal_status_sex'].value_counts()

personal_status_sex
male : single                          548
female : divorced/separated/married    310
male : married/widowed                  92
male : divorced/separated               50
Name: count, dtype: int64

In [38]:
df[['sex', 'personal_status']] = df['personal_status_sex'].str.split(':', expand=True)

In [39]:
df['sex'] = df['sex'].str.strip()
df['personal_status'] = df['personal_status'].str.strip()

In [40]:
df.drop(columns=['personal_status_sex'], inplace=True)

##### 'savings' column

In [41]:
df['savings'].value_counts()

savings
... < 100 DM                  603
unknown/no savings account    183
100 <= ... < 500 DM           103
500 <= ... < 1000 DM           63
... >= 1000 DM                 48
Name: count, dtype: int64

In [42]:
df.replace({'savings': {'... < 100 DM': '<100',
                        'unknown/no savings account': 'Unknown/None',
                        '100 <= ... < 500 DM': '100-499',
                        '500 <= ... < 1000 DM': '500-999',
                        '... >= 1000 DM': '>= 1000'}}, inplace=True)

##### 'status' column

In [43]:
df['status'].value_counts()

status
no checking account                           394
... < 100 DM                                  274
0 <= ... < 200 DM                             269
... >= 200 DM / salary for at least 1 year     63
Name: count, dtype: int64

In [44]:
df.replace({'status': {'no checking account': 'No account',
                       '... < 100 DM': '< 100',
                       '0 <= ... < 200 DM': '0–199',
                       '... >= 200 DM / salary for at least 1 year': '>= 200'}}, inplace=True)

##### 'purpose' column

In [45]:
df['purpose'].value_counts()

purpose
domestic appliances    280
car (new)              234
radio/television       181
car (used)             103
others                  97
retraining              50
education               22
repairs                 12
furniture/equipment     12
business                 9
Name: count, dtype: int64

In [46]:
df.replace({'purpose': {'radio/television': 'Radio/TV',
                        'car (new)': 'car',
                        'car (used)': 'car'}}, inplace=True)

##### 'employment_duration' column

In [47]:
df['employment_duration'].value_counts()

employment_duration
1 <= ... < 4 years    339
... >= 7 years        253
4 <= ... < 7 years    174
... < 1 year          172
unemployed             62
Name: count, dtype: int64

In [48]:
df.replace({'employment_duration': {'4 <= ... < 7 years': '4-6 years',
                       '... < 1 year': '< 1 year',
                       '1 <= ... < 4 years': '1-3 years',
                       '... >= 7 years': '>= 7 years'}}, inplace=True)

##### 'job' column

In [56]:
df['job'].value_counts()

job
skilled employee/official                                     630
unskilled - resident                                          200
management/self-employed/highly qualified employee/officer    148
unemployed/unskilled - non-resident                            22
Name: count, dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   status                   1000 non-null   object
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   object
 3   purpose                  1000 non-null   object
 4   amount                   1000 non-null   int64
 5   savings                  1000 non-null   object
 6   employment_duration      1000 non-null   object
 7   installment_rate         1000 non-null   int64
 8   other_debtors            1000 non-null   object
 9   present_residence        1000 non-null   int64
 10  property                 1000 non-null   object
 11  age                      1000 non-null   int64
 12  other_installment_plans  1000 non-null   object
 13  housing                  1000 non-null   object
 14  number_credits           1000 non-null   int64
 15  job                      1000 non-null   object
 16  people_liable            1000 non-null   int64
 17  telephone                1000 non-null   object
 18  foreign_worker           1000 non-null   object
 19  credit_risk              1000 non-null   int64
 20  sex                      1000 non-null   object
 21  personal_status          1000 non-null   object
dtypes: int64(8), object(14)
memory usage: 172.0+ KB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   status                   1000 non-null   object
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   object
 3   purpose                  1000 non-null   object
 4   amount                   1000 non-null   int64
 5   savings                  1000 non-null   object
 6   employment_duration      1000 non-null   object
 7   installment_rate         1000 non-null   int64
 8   personal_status_sex      1000 non-null   object
 9   other_debtors            1000 non-null   object
 10  present_residence        1000 non-null   int64
 11  property                 1000 non-null   object
 12  age                      1000 non-null   int64
 13  other_installment_plans  1000 non-null   object
 14  housing                  1000 non-null   object
 15  number_credits           1000 non-null   int64
 16  job                      1000 non-null   object
 17  people_liable            1000 non-null   int64
 18  telephone                1000 non-null   object
 19  foreign_worker           1000 non-null   object
 20  credit_risk              1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.isna().sum()

status                     0
duration                   0
credit_history             0
purpose                    0
amount                     0
savings                    0
employment_duration        0
installment_rate           0
personal_status_sex        0
other_debtors              0
present_residence          0
property                   0
age                        0
other_installment_plans    0
housing                    0
number_credits             0
job                        0
people_liable              0
telephone                  0
foreign_worker             0
credit_risk                0
dtype: int64

In [7]:
df.describe()

,duration,amount,installment_rate,present_residence,age,number_credits,people_liable,credit_risk
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,0.700000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,0.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,0.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.000000

In [8]:
df.head(3)

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,... < 100 DM,6,critical account/other credits existing,domestic appliances,1169,unknown/no savings account,... >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee/official,1,yes,yes,1
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee/official,1,no,yes,0
2,no checking account,12,critical account/other credits existing,retraining,2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,no,yes,1

In [9]:
df.groupby('status').size()

status
... < 100 DM                                  274
... >= 200 DM / salary for at least 1 year     63
0 <= ... < 200 DM                             269
no checking account                           394
dtype: int64

In [10]:
df.groupby('credit_history').size()

credit_history
all credits at this bank paid back duly         49
critical account/other credits existing        293
delay in paying off in the past                 88
existing credits paid back duly till now       530
no credits taken/all credits paid back duly     40
dtype: int64

In [12]:
for col in df.columns:
    print(df.groupby(col).size())

status
... < 100 DM                                  274
... >= 200 DM / salary for at least 1 year     63
0 <= ... < 200 DM                             269
no checking account                           394
dtype: int64
duration
4       6
5       1
6      75
7       5
8       7
9      49
10     28
11      9
12    179
13      4
14      4
15     64
16      2
18    113
20      8
21     30
22      2
24    184
26      1
27     13
28      3
30     40
33      3
36     83
39      5
40      1
42     11
45      5
47      1
48     48
54      2
60     13
72      1
dtype: int64
credit_history
all credits at this bank paid back duly         49
critical account/other credits existing        293
delay in paying off in the past                 88
existing credits paid back duly till now       530
no credits taken/all credits paid back duly     40
dtype: int64
purpose
business                 9
car (new)              234
car (used)             103
domestic appliances    280
education               22
furniture/equipment     12
others                  97
radio/television       181
repairs                 12
retraining              50
dtype: int64
amount
250      1
276      1
338      1
339      1
343      1
        ..
15653    1
15672    1
15857    1
15945    1
18424    1
Length: 921, dtype: int64
savings
... < 100 DM                  603
... >= 1000 DM                 48
100 <= ... < 500 DM           103
500 <= ... < 1000 DM           63
unknown/no savings account    183
dtype: int64
employment_duration
... < 1 year          172
... >= 7 years        253
1 <= ... < 4 years    339
4 <= ... < 7 years    174
unemployed             62
dtype: int64
installment_rate
1    136
2    231
3    157
4    476
dtype: int64
personal_status_sex
female : divorced/separated/married    310
male : divorced/separated               50
male : married/widowed                  92
male : single                          548
dtype: int64
other_debtors
co-applicant     41
guarantor        52
none            907
dtype: int64
present_residence
1    130
2    308
3    149
4    413
dtype: int64
property
building society savings agreement/life insurance    232
car or other                                         332
real estate                                          282
unknown/no property                                  154
dtype: int64
age
19     2
20    14
21    14
22    27
23    48
24    44
25    41
26    50
27    51
28    43
29    37
30    40
31    38
32    34
33    33
34    32
35    40
36    39
37    29
38    24
39    21
40    25
41    17
42    22
43    17
44    17
45    15
46    18
47    17
48    12
49    14
50    12
51     8
52     9
53     7
54    10
55     8
56     3
57     9
58     5
59     3
60     6
61     7
62     2
63     8
64     5
65     5
66     5
67     3
68     3
70     1
74     4
75     2
dtype: int64
other_installment_plans
bank      139
none      814
stores     47
dtype: int64
housing
for free    108
own         713
rent        179
dtype: int64
number_credits
1    633
2    333
3     28
4      6
dtype: int64
job
management/self-employed/highly qualified employee/officer    148
skilled employee/official                                     630
unemployed/unskilled - non-resident                            22
unskilled - resident                                          200
dtype: int64
people_liable
1    845
2    155
dtype: int64
telephone
no     596
yes    404
dtype: int64
foreign_worker
no      37
yes    963
dtype: int64
credit_risk
0    300
1    700
dtype: int64

In [13]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [16]:
df['purpose'].value_counts()

purpose
domestic appliances    280
car (new)              234
radio/television       181
car (used)             103
others                  97
retraining              50
education               22
repairs                 12
furniture/equipment     12
business                 9
Name: count, dtype: int64

In [ ]:
df.replace({'purpose': {'car (new)', '': 'furniture_equipment', 'domestic appliance': 'domestic_appliance'}}, inplace=True)